.icon {
  display: inline-block;
  width: 40px;
  height: 40px;

  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;


  &-close {
    background-image: url("/src/assets/icons/icon-close.svg");
  }

  &-lizard {
    background-image: url("/src/assets/icons/icon-lizard.svg");
  }

  &-paper {
    background-image: url("/src/assets/icons/icon-paper.svg");
  }

  &-rock {
    background-image: url("/src/assets/icons/icon-rock.svg");
  }

  &-scissors {
    background-image: url("/src/assets/icons/icon-scissors.svg");
  }

  &-spoke {
    background-image: url("/src/assets/icons/icon-spock.svg");
  }

  &-logo {
    width: 100px;
    height: 100px;
  }

}


