@import '../abstracts/variables';

.footer {
  width: 100%;
  display: flex;
  justify-content: end;

  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }

  .button {
    margin-bottom: 10px;
  }
}
